<p>
  <%= link_to "Moderate new advertisements (#{Advertisement.all_new.count})",
    all_new_advertisements_path %>
</p>
<p> <%= link_to "Manage types", admin_types_path %> </p>
<p> <%= link_to "Manage users", admin_users_path %> </p>
