 <% logo = image_tag("rails.png", :alt =>"Ads-platform", :class => "round") %>
 <%= link_to logo, root_path %>
<header>
 <nav class="round">
  <ul>
   <li><%= link_to "Home", root_path %></li>
   <li><%= link_to "Sign in", '#' %></li>
   <li><%= link_to "Sign up", '#' %></li>
  </ul>
 </nav>
</header>
